.btn {
    background-color: #edc9af;
    border-color: #edc9af;
}

.btn:hover {
    background-color: #f3f3f3;
    border-color: #000000;
}
#card{
    outline: black;
    border-color: black;
}
.card-body {
    background-color: #edc9af;
}
