.appointment {
    border-style: groove;
    width: 60%;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
}
.alert-success {
    width: 90%;
    display: none;
}
.card-container {
    max-height: 500px;
    overflow-y: auto;

}
.card-container::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

.card-container::-webkit-scrollbar-thumb {
    background-color: #483C32; /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Set the border radius of the scrollbar thumb */
}

.header {
    background-color: #483C32; /* Brown color */
    padding: 20px; /* Add some padding to give space around the text */
}
p{
    font-size: 14px;
}

.btn{
    background-color: #483C32;
    color: #FFFFFF;
}

.btn:hover{
    border-color: #483C32;
    color: #000000;
    background-color: #FFFFFF;
}


